body {
    font-family: $font;
    font-size: $size;
    color: $text-color;
    background-color: black;    
    margin: 0;
}
    .container {
        display: flex;  
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 60vh;

        &.done {
            height: 40vh;
        }
    .logo {
        padding: 20px;
        width: 200px;
        text-align: center;

        img {
            &.done {
                height: 130px;
            }
        }
    }
    @include tablet(600px){
        flex-direction: row;
    }
    @include desktop(1240px){
        justify-content: flex-start;
    }
}

    #categories {
        .image-grid {
            display: grid;
            width: 90%;
            margin: 0 auto;
            grid-gap: 10px;

        @include tablet(600px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }
        @include desktop(1240px) {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }   
    }
    img {
        width: 100%;
        height: 420px;
    }
}
    form, p {
        padding: 10px;
        text-align: center;
    }
    select {
        font-family: $font;
        font-size: $size;
    }
    .image-style {
        height: 300px;
        background-size: cover;
        text-align: right;
    }
    div {
        position: relative;
        p {
            position: absolute;
            bottom: 0;
            padding: 10px;
            text-decoration: none;
            color: white;
            opacity: 0.6;
            background: #000;
        }
    }
    .loading-image {
        position: absolute;
        height: 100px;
        width: 100px;
        display: flex;
        left: calc(50% - 50px);
        top:20%;
        z-index: 1;
        // margin: 0 auto;
    }

    footer {
        color: $footer-color;
        padding: 10px;
        display: flex;
        justify-content: center;

        @include desktop(1240px) {
            .footer-text {
            text-align: left;
            width: 100%;
            padding-left: 4.2rem;
            }   
        }
    }
